/* @font-face {
  font-family: dreaming;
  src: url('../public//hurryupweredreaming.ttf') format('truetype');
} */
/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Marker+Hatch&family=Shadows+Into+Light&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: dreaming, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #e1d7c8; */
  font-family: 'Indie Flower', cursive;
}

body::-webkit-scrollbar, main::-webkit-scrollbar {
  width: .7rem;     /* Tamaño del scroll en vertical */
  height: .3rem;    /* Tamaño del scroll en horizontal */
  background: transparent;
}

body::-webkit-scrollbar-thumb, main::-webkit-scrollbar-thumb {
  background: #ffa0d4;
  /* border-radius: 0.5rem; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  position: relative;
  background-image: url("../public/BG_te_esperare.png");
  background-size: contain;
  background-repeat: repeat-y;
}

h1{
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

h2{
  /* font-family: 'Rubik Marker Hatch', cursive; */
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
}

h3{
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

p{
  /* font-family: 'Shadows Into Light', cursive; */
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.imgBx img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.contain .imgBx.up{
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: up 2s linear;
  margin: 2rem 0;
  cursor: pointer;
}

.content{
  animation: aparitionTrhee 5s linear;
  max-width: 1000px;
  margin: 0 0 4rem;
}

.title_name{
  display: flex;
  gap: 5px
}

.title_name div:nth-child(1){
  transform: translateY(-.5rem) rotate(5deg);
  background: #b693c5;
}

.title_name div:nth-child(2){
  transform: translateY(.25rem) rotate(-8deg);
  text-shadow: 3px 3px #f9e23d;
}

.title_name div:nth-child(4){
  transform: rotate(-8deg);
  color: #cdaee5;
  text-shadow: 3px 3px #222;
}

.title_name div:nth-child(5){
  transform: translateY(.3rem);
  color: #95d8d0;
  text-shadow: 3px 3px #222;
}

.title_name div:nth-child(6){
  position: relative;
  transform: rotate(-15deg);
  color: #f698cb;
  background: #f85bae;
}

.title_name div:nth-child(6)::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  transform: rotate(10deg);
  z-index: -1;
}

.title_name div:nth-child(7){
  transform: translateY(.25rem) rotate(-8deg);
  text-shadow: 3px 3px #f9e23d;
}

.title_name div:nth-child(8){
  position: relative;
  transform: rotate(5deg);
  text-shadow: 2px 3px #fff;
  color: #222;
  background: #222;
}

.title_name div:nth-child(8)::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9da4a;
  transform: rotate(10deg);
  z-index: -1;
}

.title_name div:nth-child(9){
  position: relative;
  color: #222;
  text-shadow: 2px 2px #fff;
  background: #ffa1dd;
}

.title_name div:nth-child(10){
  position: relative;
  transform: rotate(5deg);
  text-shadow: 2px 3px #fff;
  color: #222;
  background: #222;
}

.title_name div:nth-child(10)::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9b6ba9;
  transform: rotate(10deg);
  z-index: -1;
}

.title_name div:nth-child(11){
  transform: translateY(.25rem) rotate(-8deg);
  text-shadow: 3px 3px #f9e23d;
}

.title_name .space{
  all: unset;
  width: .5em;
}

@keyframes up {
  0%{
    transform: translateY(calc(+50vh - 75px));
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes aparitionTrhee {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.about_us, .page{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}

.about_us .contain, .page .contain{
  max-width: 90vw;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.premierPage .ubicanos{
  background: #f85bae;
  border-radius: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
}

.premierPage .plan_de_difusion{
  text-align: center;
  background: #f85bae;
  border-radius: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
}

.premierPage .fechas{
  text-align: center;
  background: #f9e23d;
  border-radius: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
}

.premierPage .como_nos_fue{
  text-align: center;
  background: #9b6ba9;
  border-radius: 1rem;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
}

.premierPage .gallery{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
}

.twitterPage .gallery{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0;
}

.tiendaPage .gallery{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem 0;
}

.tiendaPage .gallery .productBx{
  position: relative;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tiendaPage .gallery .productBx .buttons{
  position: absolute;
  bottom: -40px;
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tiendaPage .gallery .productBx .buttons button{
  all: unset;
  font-weight: 600;
  padding: .5rem 1rem;
  border-radius: 1rem;
  background: #95d8d0;
  text-align: center;
  cursor: pointer;
}

.premierPage .map{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.premierPage .map div:not(.ubicanos){
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 2px solid #222;
  border-radius: 2rem;
}

.premierPage .map iframe{
  width: 100%;
  height: 100%;
}

.separator{
  max-width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.5em;
  font-weight: 700;
  margin: 1rem 0 0;
}

.menu{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  z-index: 100;
  cursor: pointer;
}

.menu.home{
  left: 1rem;
}

.menu .toggle{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #b693c5;
  z-index: 100;
}

.menu .toggle span{
  width: 35px;
  height: 6px;
  background: #222;
  border-radius: 1rem;
  transition: .5s;
}

.menu .toggle span::after{
  content: '';
  display: flex;
  width: 35px;
  height: 6px;
  background: #222;
  border-radius: 1rem;
  transform: translateY(4px);
  transition: .5s;
}

.menu .toggle span::before{
  content: '';
  display: flex;
  width: 35px;
  height: 6px;
  background: #222;
  border-radius: 1rem;
  transform: translateY(-10px);
  transition: .5s;
}

.menu .toggle span.active{
  background: transparent;
}

.menu .toggle span.active::after{
  transform: translateY(-4px) rotate(45deg);
}

.menu .toggle span.active::before{
  transform: rotate(-45deg);
}

.menu .links{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #b693c5;
  z-index: -1;
  transition: .5s;
}

.menu .links.active{
  z-index: 100;
}

.menu .links a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu .links p{
  font-size: 1em;
  display: none;
  opacity: 0;
  transition: .5s;
}

.menu .links .imgBx{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.menu .links a:hover .imgBx{
  width: 30px;
  height: 30px;
}

.menu .links a:hover p{
  display: inherit;
  opacity: 1;
}

.menu .links.active:nth-child(2){
  transform: translateY(-60px);
}

.menu .links.active:nth-child(3){
  transform: translateY(-120px);
}

.menu .links.active:nth-child(4){
  transform: translateY(-180px);
}

.menu .links.active:nth-child(5){
  transform: translateY(-240px);
}

.menu .links.active:nth-child(6){
  transform: translateY(-300px);
}

.menu .links.active:nth-child(7){
  transform: translateY(-360px);
}

.menu .links.active:nth-child(8){
  transform: translateY(-420px);
}

.menu .links.active:nth-child(9){
  transform: translateY(-480px);
}

.miniseriePage .personajes{
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carruselBx .imgBx{
  width: 40vw;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carruselBx .personajeBx{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carruselBx .personajeBx .bx{
  padding: 1rem;
  background: #fff;
  box-shadow: 5px 5px #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.carruselBx .personajeBx .bx p{
  min-width: 100px;
  font-size: 1.25em;
  border-radius: 1rem;
  padding: .3rem 1rem;
  text-align: center;
}

.carruselBx .swiper-slide{
  margin: auto;
}

.carruselBx .swiper-button-next::after, .carruselBx .swiper-button-prev::after{
  font-size: 3em;
  font-weight: 500;
  color: #b693c5;
}

.carruselBx .swiper-button-next, .carruselBx .swiper-button-prev{
  top: 20%;
}

.carruselBx .caracteristicas{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.carruselBx .caracteristicas div:not(.imgBx){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carruselBx .caracteristicas .imgBx.icon{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carruselBx .caracteristicas p{
  text-align: center;
}

.carruselBx .caracteristicas p.text{
  font-size: 1em;
}

.miniseriePage .principal_video{
  width: 100%;
}

.miniseriePage .principal_video iframe{
  width: 100%;
  height: 250px;
}

.miniseriePage .list_videos{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.miniseriePage .video_item{
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.miniseriePage .video_item .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniseriePage .video_item .image iframe{
  width: 100%;
}

.miniseriePage .video_item .title_and_description p{
  font-size: 1.25em;
}

.progres{
  width: 70%;
  height: 1em;
  border-radius: 1rem;
  background: #2d2a29;
  margin: 1rem 0;
  display: flex;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.progres span{
  height: 100%;
  border-radius: 1rem;
}

.progres span.yellow{
  background: #f9da4a;
}

.progres span.pink{
  background: #ffa0d4;
}

.progres span.purple{
  background: #cbafe8;
}

.progres span.cian{
  background: #95d8d0;
}

.imgBx.up .imgBx.rainbow{
  width: 100px;
  margin: auto;
  margin-top: 2rem;
}

.relations{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.relations .bx{
  padding: .5rem;
  background: #fff;
  box-shadow: 5px 5px #222;
}

.relations .bx p{
  text-align: center;
  font-size: 1em;
}

.relations .relations_row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: .8em;
}

.relations .relations_row span{
  position: relative;
  min-width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #222;
}

.relations .relations_row span::after{
  position: absolute;
  content: '';
  display: flex;
  height: 2px;
  width: 20px;
  background: #222;
  bottom: -8px;
}

.relations .relations_row span::before{
  position: absolute;
  content: '';
  display: flex;
  height: 2px;
  width: 20px;
  background: #222;
  bottom: 5px;
}

.relations .relations_row span.to::after{
  transform: rotate(145deg);
  right: -3px;
}

.relations .relations_row span.to::before{
  transform: rotate(-145deg);
  right: -3px;
}

.relations .relations_row span.me::after{
  transform: rotate(45deg);
  left: -3px;
}

.relations .relations_row span.me::before{
  transform: rotate(-45deg);
  left: -3px;
}

.carruselVideoBx .videoBx{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carruselVideoBx .videoBx .bx{
  width: 70%;
  padding: 1rem;
  background: #fff;
  box-shadow: 5px 15px #222;
}

.carruselVideoBx .videoBx video{
  width: 100%;
}

.carruselVideoBx .swiper-button-next::after, .carruselVideoBx .swiper-button-prev::after{
  font-size: 3em;
  font-weight: 500;
  color: #b693c5;
}

.podcastBx{
  position: relative;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcastBx .imgBx{
  border-radius: 2rem;
  overflow: hidden;
}

.podcastBx a.listen{
  position: absolute;
  padding: .5rem 1rem;
  background: #fff;
  border-radius: 1rem;
  bottom: 2rem;
  cursor: pointer;
}

.ustedesPage {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}

.ustedesPage .contain {
  max-width: 90vw;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.social{
  top: 1rem;
  right: 3rem;
}

.social .links:not(.follow){
  right: -1rem;
  opacity: 0;
}

.social .links.active{
  opacity: 1;
}

.social .follow{
  border-radius: 1rem;
  padding: .25rem .5rem;
  width: auto;
  height: auto;
  z-index: 1000;
}

.social .links.active:nth-child(2){
  transform: translateY(40px);
  background: #f85bae;
}

.social .links.active:nth-child(3){
  transform: translateY(100px);
  background: #95d8d0;
}

.social .links.active:nth-child(4){
  transform: translateY(160px);
  background: #f9da4a;
}

.social .links.active:nth-child(5){
  transform: translateY(220px);
  background: #95d8d0;
}

.social .links.active:nth-child(6){
  transform: translateY(280px);
  background: #cdaee5;
}

@media only screen and (max-width:850px) {
  .carruselBx{
    width: 90vw;
  }

  .carruselBx .imgBx{
    width: 200px;
  }

  .carruselVideoBx{
    width: 90vw;
  }
}

@media only screen and (min-width: 850px) {

  @keyframes up {
    0%{
      transform: translateY(calc(+100vh - 300px));
    }
    100%{
      transform: translateY(0);
    }
  }

  main{
    position: relative;
    background-image: url("../public/BG_te_esperare.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
  }

  h2{
    font-size: 5em;
  }

  .menu{
    width: 60px;
    height: 60px;
  }
  
  .menu .toggle{
    width: 60px;
    height: 60px;
  }
  
  .menu .toggle span{
    width: 40px;
  }
  
  .menu .toggle span::after{
    width: 40px;
  }
  
  .menu .toggle span::before{
    width: 40px;
  }

  .menu .links{
    width: 60px;
    height: 60px;
  }

  .menu:not(.social) .links.active:nth-child(2){
    transform: translateY(-70px);
  }
  
  .menu:not(.social) .links.active:nth-child(3){
    transform: translateY(-140px);
  }
  
  .menu:not(.social) .links.active:nth-child(4){
    transform: translateY(-210px);
  }
  
  .menu:not(.social) .links.active:nth-child(5){
    transform: translateY(-280px);
  }
  
  .menu:not(.social) .links.active:nth-child(6){
    transform: translateY(-350px);
  }
  
  .menu:not(.social) .links.active:nth-child(7){
    transform: translateY(-420px);
  }
  
  .menu .links.active:nth-child(8){
    transform: translateY(-490px);
  }
  
  .menu .links.active:nth-child(9){
    transform: translateY(-560px);
  }

  .title_name{
    gap: 15px;
  }

  .premierPage .map div:not(.ubicanos){
    width: 400px;
    height: 400px;
  }

  .carruselBx .personajeBx .bx p{
    font-size: 1.5em;
    min-width: 200px;
  }

  .miniseriePage .video_item{
    grid-template-columns: 1.5fr 1fr;
  }

  .miniseriePage .principal_video iframe{
    height: 500px;
  }

  .miniseriePage .video_item .image{
    height: 350px;
  }

  .miniseriePage .video_item .image iframe{
    height: 350px;
  }

  .carruselBx .personajeBx{
    gap: 2rem;
  }

  .carruselBx .swiper-button-next::after, .carruselBx .swiper-button-prev::after{
    font-size: 5em;
    font-weight: 500;
    color: #b693c5;
  }
  .carruselVideoBx .swiper-button-next::after, .carruselVideoBx .swiper-button-prev::after{
    font-size: 5em;
    font-weight: 500;
    color: #b693c5;
  }

  .carruselVideoBx .videoBx .bx{
    width: 40%;
  }
  
  .carruselBx .swiper-button-next, .carruselBx .swiper-button-prev{
    top: 30%;
  }

  .carruselBx .caracteristicas .imgBx.icon{
    width: 120px;
  }
  
  .carruselBx .caracteristicas p{
    font-size: 2em;
  }
  
  .carruselBx .caracteristicas p.text{
    font-size: 1.5em;
  }

  .carruselBx .caracteristicas div:not(.imgBx){
    gap: 1rem;
  }

  .imgBx.up .imgBx.rainbow{
    width: 200px;
  }

  .relations .bx p{
    font-size: 2em;
  }

  .relations .relations_row{
    font-size: 1.5em;
  }

  .podcastBx .imgBx{
    width: 30vw;
  }

  .account .imgBx{
    width: 30vw;
  }

  .tiendaPage .gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .social{
    left: 1rem;
  }

  .social .links:not(.follow){
    left: .5rem;
  }

  .social .follow{
    width: auto;
    height: auto;
  }
  .social .links:nth-child(2),.social .links.active:nth-child(2){
    transform: translateY(40px);
    background: #f85bae;
    opacity: 1;
  }
  
  .social .links:nth-child(3),.social .links.active:nth-child(3){
    transform: translateY(110px);
    background: #95d8d0;
    opacity: 1;
  }
  
  .social .links:nth-child(4),.social .links.active:nth-child(4){
    transform: translateY(180px);
    background: #f9da4a;
    opacity: 1;
  }
  
  .social .links:nth-child(5),.social .links.active:nth-child(5){
    transform: translateY(260px);
    background: #95d8d0;
    opacity: 1;
  }
  
  .social .links:nth-child(6),.social .links.active:nth-child(6){
    transform: translateY(340px);
    background: #cdaee5;
    opacity: 1;
  }
}